.Root {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Primary {
  background: #3369f3;
  color: #fff;
}

.Transparent {
  background: transparent;
  color: #3369f3;
}
