.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgb(0 0 0 / 50%);

  .close {
    margin-left: auto;
    padding: 0;
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--color-white);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  transform: translate(-50%, -50%);
}
