.Root {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  list-style: none;

  &:last-child {
    border-bottom: none;
  }
}

.Label {
  font-size: 14px;
  line-height: 14px;
}

.Input {
  border: none;
  background: transparent;
  text-align: end;
  color: #999999;

  &:focus {
    color: #1e1e1e;
  }
}
