.Root {
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 460px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.Title {
  margin-bottom: 40px;
  text-align: center;
}

.Form {
  margin-bottom: auto;
}

.Control {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
