.root{
  &.auth {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 13px;
      line-height: 13px;
      color: var(--color-grey-5);
    }

    .input {
      padding: 7px 0;
      border: none;
      border-bottom: 1px solid var(--color-blue-1);
    }

    .error {
      margin-top: 10px;
      font-size: 12px;
      line-height: 14px;
      color: var(--color-red-1);
    }
  }

  &.profile {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-grey-3);
    list-style: none;

    &:last-child {
      border-bottom: none;
    }

    .label {
      font-size: 14px;
      line-height: 14px;
      width: 100%;
    }

    .input {
      width: 100%;
      border: none;
      background: transparent;
      text-align: end;
      color: var(--color-grey-5);

      &:focus {
        color: var(--color-grey-6);
      }
    }

    .error {
      position: absolute;
      bottom: 5px;
      font-size: 12px;
      line-height: 14px;
      color: var(--color-red-1);
    }
  }
}
