.Root{
  display: flex;
  flex-direction: column;
}

.Label {
  font-size: 13px;
  line-height: 13px;
  color: #999999;
}

.Input {
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid #3369f3;
}

.Error {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #ff2f2f;
}
