.Root{
  display: flex;
  flex-direction: column;
}

.Label {
  font-size: 13px;
  line-height: 13px;
  color: #999999;
}

.Input {
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid #3369F3;
}
